@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

.clock {
    border: 1px solid #606060;
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-color: #222222;
}

#Date {
    font-size: 40px !important;
    text-align: center;
}

.clock ul  {
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;
}

.clock ul {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

#Date {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}


