@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

.clock {
    border: 1px solid grey;
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-color: #222222;
}

#Date {
    font-size: 20px !important;
    text-align: center;
}

.clock ul  {
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;
}

.clock ul {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

#Date {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.clock ul li {
    color: pink;
    text-shadow: 0 0 10px pink, 0 0 20px pink;
}


@media (max-width: 800px) {
    .clock ul {
        flex-direction: row;
        font-size: 40px;
    }
    .clock ul li {
        margin: 0.5px;
    }
    #date {
        font-size: 10px;
    }
}